.file-zone([formGroup]="form")
    .file-zone__box((dragDrop)="onDocumentsDropped($event)")
        .file-zone__info
            pko-select.file-zone__type-select.mb-3(*ngIf="withDocumentType", formControlName="documentType", [placeholder]="'FILE_UPLOAD.SELECT_TYPE' | translate")
                pko-option(*ngFor="let documentType of documentTypes", [value]="documentType") {{ 'DOCUMENT_TYPE.' + documentType | translate }}
            .text.text--regular.file-zone__title.mb-3 {{ addDocumentTitle | translate }}
            label.btn.btn-light.file-zone__add-from-drive([for]="fileFor")
                ng-container([ngSwitch]="mobile")
                    svg-icon(
                        *ngSwitchCase="true",
                        src="assets/icons/easel.svg",
                        [svgStyle]="{ 'width.px': '28', 'height.px': '28', 'fill': '#003574' }")
                    svg-icon(*ngSwitchDefault, src="assets/icons/plus.svg", [svgStyle]="{ 'width.px': '16', 'height.px': '16' }")
                span.file-zone__add-from-drive-title([class.using-gallery]="mobile") {{ addDocumentActionTitle | translate }}
            label.btn.btn-light(*ngIf="mobile", [for]="fileFor + '_capture'")
                svg-icon(src="assets/icons/take_photo.svg", [svgStyle]="{ 'width.px': '28', 'height.px': '28' }")
                span.file-zone__take-pic(translate) FILE_UPLOAD.TAKE_PHOTO
            input.file-zone__hidden-input(type="file", [id]="fileFor", [accept]="acceptDocumentType", [multiple]="multiple", (change)="addFromDrive($event)")
            input.file-zone__hidden-input(type="file", [id]="fileFor + '_capture'" accept="image/*", capture, (change)="addFromDrive($event)")
    .form-group.mt-3(*ngIf="files.length")
        .file-zone__document.mb-2(*ngFor="let document of files.controls; index as i")
            pko-document([filename]="document.value.name", [removeable]="true", (removed)="files.removeAt(i)")
            .error-messages(*ngIf="document.invalid")
                .error-messages__item(*ngIf="document.getError('file') as fileError")
                    ng-container(*ngIf="fileError.extension") {{ 'VALIDATION.FILE_EXTENSION' | translate: { exts: fileError.extension.expected } }}
                    ng-container(*ngIf="fileError.size") {{ 'VALIDATION.FILE_SIZE' | translate: { size: fileError.size.expected } }}
        .error-messages(*ngIf="files.invalid")
            .error-messages__item(*ngIf="files.getError('files') as filesError") {{ 'VALIDATION.FILES_SIZE' | translate: { size: filesError.size.expected } }}
    .d-flex.justify-content-end.mt-3
        button.file-zone__submit.btn.btn-primary(type="button", translate, [disabled]="!form.valid", (click)="submit()") ALL.SAVE
